
*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}

.orderReturn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderReturn_items {
    padding: 20px;
    width: 70%;
}

.orderReturn_title {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.orderReturn_title span {
    font-size: medium;
    margin-left: 20px;
}

.orderReturn_product img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.orderReturn_info {
    padding-left: 20px;
}

.orderReturn_title {
    font-size: 17px;
    font-weight: 800;
}

.orderReturn_price {
    margin: 20px 0px;
}

.orderReturn_info button {
    background-color: rgb(232, 227, 227);
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.orderReturn_info button:hover {
    background-color: #f0c14b;
}