*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}

/* navbar */
.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */
.navbar .nav-logo{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.navbar .nav-logo:hover{
    border: 2px solid rgb(221, 130, 130);
}
.navbar .nav-logo .image {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.C90fOSjza-F3JBuPhXSimQHaEo&pid=Api&P=0&h=57');
    border-radius: 3px;
    height: 100%; 
    width: 100%;
}

/* box2 */
.navbar .nav-address{
    height: 50px;
    margin-left: 2px;
    border: 2px solid transparent;
}

.navbar .nav-address:hover{
    border: 2px solid white;
}

.navbar .nav-address .deliver-to{
    color: rgb(158, 140, 140);
    font-size: 13px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 27px;
}

.navbar .nav-address .loction-icon {
    display: flex;
    align-items: center;
}

.navbar .nav-address .loction-icon .india{
 font-size: 15px;
 margin-left: 3px;
 color: white;
}
