*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}

.container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -15px 30px 0px;
}

.inner_content{
    margin-left: 60px;
}

.amazon_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img{
    
    height: 100px;
    width: 200px;
}

/* form content */
.container form {
    width: 350px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid rgb(168, 145, 145);
}
 .container .inner_form {
    margin: 20px;    
}

.container .form_input {
    margin-top: 15px;

}

/* Name input */
.container .form_input #user_name {
    height: 25px;
    width: 300px;
    margin-top: 5px;
    border: 1px solid rgb(113, 103, 103);
    border-radius: 3px;
}

/* sumbit button */
.container .form_sumbit_btn {
    margin-top: 20px;
    width: fit-content;
    height: 60px;
    box-shadow: -0px 1px 30px -20px ;
}
.container button{
    background-color: rgb(241, 199, 13);
    height: 30px;
    width: 305px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
 }

/* policy */
.container .form_policy {
    margin-top: 30px;
    width: 300px;

}

.container .form_policy p{
    font-size: 13px;
    margin-top: 5px;
}

.container .form_policy p a{
    color: rgb(73, 83, 228);
}

/* sign form_help_forgot */

.container .form_help_forgot {
    margin-top: 30px;
    width: 300px;
}

.form_help_forgot .forgot_link{
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(73, 83, 228);
}

.form_help_forgot .issues_link{
    font-size: 15px;
    margin-bottom: 30px;
    
}

.form_help_forgot a {
    color: rgb(73, 83, 228);
}

/* new to amazon */
.new_create {
    margin-top: 20px;
}
.new_create h4 {
    text-align: center;
    max-width: 350px;
    position:relative;
    color: rgb(161, 142, 142);
    font-size: 15px;
    font-weight: 400;
}

.new_create h4::before {
    width: 110px;
    height:1px;
    content: "";
    position: absolute;
    left:0;
    top: 50%;
    background-color: rgb(224, 213, 213);
}

.new_create h4::after {
    width: 110px;
    height:1px;
    content: "";
    position: absolute;
    right:0;
    top: 50%;
    background-color: rgb(224, 213, 213);
}


/* create account button */
.container .new_create_btn {
    margin-top: 20px;
    width: fit-content;
    height: 60px;
}
.container .new_create_btn button{
    background-color: white;
    height: 30px;
    width: 350px;
    border-radius: 5px;
    border:0.2px solid rgb(207, 195, 195);
    font-size: 15px;
 }

 .container .new_create_btn button:hover {
    background-color:rgb(174, 248, 248);
 }


